@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 6px; /* Thin width */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; /* or #f0f0f0 for light background */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 4px;
  transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent; /* thumb and track */
}

html{
  scroll-behavior: smooth;
}